body {
    display: flex;
    justify-content: center;
}

.sketch-container  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: whitesmoke;
    color:  red;
    /* Make each box 25px width / height in order to fit inside evenly. */
    /* Make wrap after 16 boxes. */
}


p  {
    color: black;
    font-weight:  bolder;
}

button {
    display: flex;
}